<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314848957289-5uprto7dps5t4hdpf2jkgc0j804s55td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314848957289-5uprto7dps5t4hdpf2jkgc0j804s55td</string>
	<key>API_KEY</key>
	<string>AIzaSyDs9uoT9bL4D_dgzJ68_y4W4cDxoHsy7tE</string>
	<key>GCM_SENDER_ID</key>
	<string>314848957289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christianlorenzo.RealtimeMessenger</string>
	<key>PROJECT_ID</key>
	<string>socialmessenger-cac17</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmessenger-cac17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314848957289:ios:2812721ff6f9a9b9b623f8</string>
</dict>
</plist>